* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #eee;
}

.triangle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: white;
  border-radius: 50%;
}

.rerun {
  position: absolute;
  top: 30px;
  right: 30px;
}
